<!DOCTYPE html>
<html>
<head>
	<title>Usuarios</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<header>
		<h1>Lista de Usuarios</h1>
	</header>
	<% usuarios.forEach(function(usuario){
	%>
		Nombre: <%= usuario.nombre %>
		Email: <%= usuario.email %>
		Password: <%= usuario.clave %>
	<%
	}) %>
</body>
</html>